.top-stripes {
    background-image: url(../images/stripes.png);
    height: 31px;
}

.logo {
    width: 124px;
    margin: 0 auto;
}

.logo-white {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    }

.nav-sm .logo-white {
    display: none;
}

.nav-sm .logo-white-sm {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    margin-top: 20%;
}

.nav-md .logo-white-sm {
    display: none;
}

.footer-text {
    color: #ffffff;
}



/* OVERRIDES */

.login_content h1:before, .login_content h1:after {
    width: 8% !important;
}


.profile {
    margin-top: 60px;
}

#sidebar-menu {
    margin-top: 35%;
}

.left_col {
    background: #141414;
}
.nav_title {
    background: #141414;
}
.nav.side-menu>li.current-page, .nav.side-menu>li.active {
    border-right: 5px solid #ad172b;
}

.nav.side-menu>li.active>a {
    background: linear-gradient(#ad172b, rgba(173, 23, 43, 0.55)),#000000
}

.sidebar-footer a {
    background: #141414;
}

.nav-md ul.nav.child_menu li:after {
        border-left: 1px solid #ffffff;
}

.nav-md ul.nav.child_menu li:before {
    background: #ffffff;
}

.sidebar-footer {
     background: #141414;
}

body {
 background: #141414;
 color: #141414;
}

.sidebar-footer a:hover {
     background:  #ad172b;
     color: #ffffff;
}

.nav-sm .nav.child_menu li.active, .nav-sm .nav.side-menu li.active-sm {
    border-right: 5px solid #ad172b;
}

.nav-sm ul.nav.child_menu {
        background: #141414;
}

.toggle a {
   color: #ad172b;
}

#nprogress .bar {
  background: #ad172b;
}

#nprogress .spinner-icon {
    border-top-color: #ad172b;
    border-left-color: #ad172b;
}

.bg-red {
    background: #ad172b !important;
    border: 1px solid #ad172b !important;
}

.red {
    color:#ad172b;
}
.dropdown-menu>li>a {
    color:#141414;
}

a {
    color:#141414;
}